@import "./../../../../scss/index.scss";

.list-users {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &-switch {
      span {
        font-size: 1rem;
        font-weight: bold;
      }
      > button {
        margin-right: 20px;
      }
    }
  }
  .users-active {
    background-color: #fff;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;

    .ant-list-item-meta {
      display: flex;
      align-items: center;
    }
  }
}
